spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/tododb
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration


jwt:
  secret: "THIS_IS_A_256BIT_SECRET_CHANGE_IN_PROD_123456"
  expiration: 86400000 # 24 hours
